<div class="lite-nav-sublist m-col-4">
    <ul class="m-auto-list">
        <li class="m-auto-box"><span class="m-text-cut">热门</span></li>
        <li class="m-auto-box"><span class="m-text-cut">新鲜事</span></li>
        <li class="m-auto-box"><span class="m-text-cut">搞笑</span></li>
        <li class="m-auto-box"><span class="m-text-cut">情感</span></li>
        <li class="m-auto-box"><span class="m-text-cut">明星</span></li>
        <li class="m-auto-box"><span class="m-text-cut">社会</span></li>
        <li class="m-auto-box"><span class="m-text-cut">数码</span></li>
        <li class="m-auto-box"><span class="m-text-cut">体育</span></li>
        <li class="m-auto-box cur"><span class="m-text-cut">汽车</span></li>
        <li class="m-auto-box"><span class="m-text-cut">电影</span></li>
        <li class="m-auto-box"><span class="m-text-cut">游戏</span></li>
    </ul>
</div>